<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your external CSS file -->
</head>
<body>
    <header>
        <h1 class="header-title">About Me</h1>
    </header>
    <main>
        <section class="content">
            <div class="about-me">
                <div class="left-partition">
                    <img src="/images/mypicture1.jpg" alt="Your Picture" width="300" height="400">
                </div>
                <div class="right-partition">
                    <h3>Name: Chattrin</h3>
                    <h3>Lastname: Udomsomporn</h3>
                    <h3>Education: Post secondary diploma degree in computer programming </h3>
                    <h3>College : Georgian college, Barrie, Ontario, Canada</h3>
                    <h3>Hobbies: Programming, Reading, Traveling </h3>
                    <h3>Proficiency: JAVA, C#, HTML, CSS, JavaScript, Kotlin, MySQL</h3>
                    <h3>Social media: <a href="https://www.linkedin.com/in/chattrinu/" target="_blank">LinkedIn Profile</a></h3>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Chattrin Udomsomporn</p>
    </footer>
</body>
</html>
